body {
	background-color: #DC143C;
}

nav ul li {
	list-style: none;
	text-decoration: none;
	display: inline;
	padding-right: 3em;
	color: black;
	text-align: center;
}

h1 {
	color: black;
	padding-left: 3em;
	font-family: 'Kaushan Script', cursive;
	font-size: 4em;
	border-bottom: 5px solid black;
}

h2 {
	font-family: 'Kaushan Script', cursive;
	font-size: 3.5em;
	text-align: center;
}

/* Images */

#yellow {
	border-bottom: 5px solid yellow;
}

#lightblue {
	border-bottom: 5px solid cornflowerblue;
}

#red {
	border-bottom: 5px solid red;
}

#green {
	border-bottom: 5px solid green;
}

img {
	width: 200px;
	height: 170px;
	margin-bottom: 100px;
	border: 5px solid black;
}

/* Video */

video {
	position: fixed;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
}

/* Classes */

.menu ul li {
	padding: 25px;
    margin: 25px;
    list-style: none;
    display: inline;
}

/* Anchor Links */

a {
	color: black;
}